<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </script>


  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.price %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <button id="btn">Click me!</button>
  <script>
    $(document).ready(function () {
      $("#btn").click(function () {
        alert("This is an alert message!");
      });
    });
  </script>

<%= link_to 'New Order', new_order_path %>
<%#= Order.all.group_by {|date| date.created_at.to_date}%>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>

<div id="container" style="height: 400px;"></div>

<script>
    Highcharts.chart('container', {

            title: {
                    text: 'Solar Employment Growth by Sector, 2010-2016'
            },

            subtitle: {
                    text: 'Source: thesolarfoundation.com'
            },

            yAxis: {
                    title: {
                            text: 'Number of Employees'
                    }
            },

            xAxis: {
            categories: <%=raw @students.to_json %>,
            title: {
                text: null
            },

            legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
            },

            plotOptions: {
                    series: {
                            label: {
                                    connectorAllowed: false
                            },
                            pointStart: 2021  
                    }
            },

            series: [
                <% @orders.each do |order|%>
                  {
                    name: 'Orders',
                    data: [<%#= Order.all.group_by {|date| date.created_at.to_date}%>10,20,30.40,50]
                    // data: <%#= Order.all.group_by {|date| date.created_at.to_date}%>
                  },
                <% end %>
            ], 

     
            responsive: {
                    rules: [{
                            condition: {
                                    maxWidth: 500
                            },
                            chartOptions: {
                                    legend: {
                                            layout: 'horizontal',
                                            align: 'center',
                                            verticalAlign: 'bottom'
                                    }
                            }
                    }]
            }

    });
</script>
